<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %></strong>
  <%= @course_type.name %>
</p>

<%= link_to t('edit'), edit_course_type_path(@course_type) %> |
<%= link_to t('back'), course_types_path %>
