<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('name') %>
    <%= form.text_field :name, size: 64, maxsize: 128 %>
  </div>

  <div class="field">
    <%= form.label t('date_of_birth') %>
    <%= form.date_select :date_of_birth, start_year: 1948, end_year: Time.now.year, include_blank: true, default: nil %>
  </div>

  <div class="field">
    <%= form.label t('client_linked') %>
    <% if current_admin %>
      <%= form.select 'user_id', options_for_select(@users.collect {|user| [user.name, user.id]}, student.user_id) %>
    <% else %>
      <%= form.hidden_field 'user_id', value: current_user.id %>
      <%= User.find(current_user.id).name %>
    <% end %>
  </div>
  <% if current_admin %>
    <div class="field">
      <%= form.label t('active') %>
      <%= form.check_box :active %>
    </div>
    <div class="field">
      <%= form.label t('trial_class') %>
      <%= form.check_box :trial_class %>
    </div>

    <div class="field">
      <%= form.label t('uniform_promotion') %>
      <%= form.check_box :uniform_promotion %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
