<p>
  <strong><%= t('name') %>:</strong>
  <%= @student['name'] %>
</p>

<p>
  <strong><%= t('date_of_birth') %>:</strong>
  <% unless @student['date_of_birth'].nil? %>
    <%= @student['date_of_birth'] %> - (<%= calculate_age(@student['date_of_birth']) %> <%= t('Ans') %>)
  <% end %>
</p>


<p>
  <strong><%= t('current_belt') %>:</strong>
  <%= @belt.nil? ? 'White' : t(@belt.color) %>
</p>
<p>
  <strong><%= t('time_since_graduation') %>:</strong>
  <%= get_months_since_last_graduations(@student['id']) %> <%= t('Mois') %>
</p>
<p>
  <strong><%= t('client_linked').html_safe %>:</strong>
  <%= @student.client_name %>
</p>
<% if current_admin %>
  <p>
    <strong><%= t('trial_class') %>:</strong>
    <%= @student['trial_class'] %>
  </p>
  <p>
    <strong><%= t('uniform_promotion') %>:</strong>
    <%= @student['uniform_promotion'] %>
  </p>
  <p>
    <strong><%= t('active') %>:</strong>
    <%= @student['active'] %>
  </p>
<% end %>

<%= link_to t('edit'), edit_student_path(@student) %> |
<%= link_to t('back'), students_path %>
