<p>
  <strong><%= t('name') %>:</strong>
  <%= @student['name'] %>
</p>

<p>
  <strong><%= t('date_of_birth') %>:</strong>
  <% unless @student['date_of_birth'].nil? %>
    <%= @student['date_of_birth'] %> - (<%= calculate_age(@student['date_of_birth']) %> <%= t('Ans') %>)
  <% end %>
</p>


<p>
  <strong><%= t('current_belt') %>:</strong>
  <%= @belt.nil? ? t('White') : t(@belt.color) %>
</p>
<p>
  <strong><%= t('time_since_graduation') %>:</strong>
  <%= get_months_since_last_graduations(@student['id']) %> <%= t('Mois') %>
</p>
<p>
  <strong><%= t('client_linked').html_safe %>:</strong>
  <%= @student.client_name %>
</p>
<% if current_admin %>
  <p>
    <strong><%= t('active') %>:</strong>
    <%= t(@student['active']) %>
  </p>
<% end %>
<h3><%= t('Reservations') %></h3>
<div id="reservation_list">
<% @reservations.each do |reservation| %>
  <p class="<%= reservation.active %>">
    <%= t(get_week_day(reservation.day_of_week)) %>:
    <%= format_time(reservation.start_time) %> - <%= format_time(reservation.end_time) %> -
    <%= reservation.name %> - <%= reservation.age_group %>
    <% if current_admin %>
      <%= link_to t('Edit'), edit_reservation_path(reservation) %>
    <% end %>
  </p>
<% end %>
</div>
<%= link_to t('edit'), edit_student_path(@student) %> |
<%= link_to t('back'), students_path %>
