<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @student['name'] %>
</p>

<p>
  <strong><%= t('date_of_birth') %>:</strong>
  <%= @student['date_of_birth'] %> - (<%= @student['date_of_birth'].upto(Date.today).count.fdiv(365).round(1) %> <%=  t('Ans') %>)
</p>

<p>
  <strong><%= t('active') %>:</strong>
  <%= @student['active'] %>
</p>
<p>
  <strong><%= t('current_belt') %>:</strong>
  <%= t(@belt) %>
</p>
<p>
  <strong><%= t('time_since_graduation') %>:</strong>
  <%= get_months_since_last_graduations(@student['id']) %> <%= t('Mois') %>
</p>
<p>
  <strong><%= t('client_linked').html_safe %>:</strong>
  <%= @linked_client %>
</p>
<p>
  <strong><%= t('trial_class') %>:</strong>
  <%= @student['trial_class'] %>
</p>
<p>
  <strong><%= t('uniform_promotion') %>:</strong>
  <%= @student['uniform_promotion'] %>
</p>

<%= link_to t('edit'), edit_student_path(@student) %> |
<%= link_to t('back'), students_path %>
