<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong><%= t('active') %>:</strong>
  <%= @client.active %>
</p>

<%= link_to t('edit'), edit_client_path(@client) %> |
<%= link_to t('back'), clients_path %>
