<h1><%= t('reservations') %></h1>
<aside>
  <table>
    <tr>
      <th>Tarifs</th>
    </tr>
    <tr>
      <td>1 Cours semaine - 24 $ / 2 Semaines</td>
    </tr>
    <tr>
      <td>2 Cours semaine - 38 $ / 2 Semaines</td>
    </tr>
    <tr>
      <td>illimité - 44 $ / 2 Semaines</td>
    </tr>
  </table>
  <p class="reservations">Vos réservations seront activées une fois le paiement effectué.</p>
  <p class="reservations">Notez qu'il est obligatoire de s'inscrire à un minimum de deux fois par semaine une fois rendu
    au niveau intermédiaire, avancé et centure noire (Ceinture Rouge et +)</p>
</aside>

<nav class="will_paginate">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @reservations %>
    </div>
    <%= will_paginate @reservations, :container => false %>
  </div>
</nav>
<%= render 'shared/search' if current_admin %>
<section class="new_record">
  <%= link_to "#{t('nouvelle')} #{t('reservation')}", new_reservation_path %>

  <% if @reservations.where('reservations.active = false and reservations.mail_sent = false').count > 0 && !current_admin%>
    -
    <%= link_to "#{t('soumettre')} #{t('reservations')}", submit_reservations_path %>

  <% end %>
</section>

<table>
  <thead>
  <tr>
    <th><%= t('student').html_safe %></th>
    <th><%= t('course') %></th>
    <th><%= t('active') %></th>
    <th><%= t('Confirmation requested') %>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.student_name %> <%= " - (#{reservation.client_name})" if reservation['client_name'] != reservation['student_name'] %>  </td>
      <td><%= "#{t(get_week_day(reservation['day_of_week']))}: #{reservation['start_time'].strftime('%H:%M')} - #{reservation['end_time'].strftime('%H:%M')} - #{reservation['course_type']} - #{reservation['age_group']}" %></td>
      <td><%= reservation['active'] ? t('active') : t('inactive') %></td>
      <td><%= reservation['mail_sent'] ? t('Oui') : t('Non') %></td>
      <td><%= link_to t('show'), reservation_url(reservation['id']) %></td>
      <td>
        <% if current_admin %>
          <%= link_to t('edit'), edit_reservation_path(reservation['id']) %>
        <% end %>
      </td>
      <td>
        <% if current_admin %>
          <%= link_to t('destroy'), Reservation.find(reservation['id']), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

