<p id="notice"><%= notice %></p>

<h1><%= t('age_groups') %></h1>
<nav class="will_paginate">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @age_groups %>
    </div>
    <%= will_paginate @age_groups, :container => false %>
  </div>
</nav>
<section class="new_record">
  <%= link_to "#{t('new')} #{t('age_group')}", new_age_group_path %>
</section>
<table>
  <thead>
  <tr>
    <th><%= t('name') %></th>
    <th><%= t('min_age') %></th>
    <th><%= t('max_age') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @age_groups.each do |age_group| %>
    <tr>
      <td><%= age_group.name %></td>
      <td><%= age_group.min_age %></td>
      <td><%= age_group.max_age %></td>
      <td><%= link_to t('show'), age_group %></td>
      <td><%= link_to t('edit'), edit_age_group_path(age_group) %></td>
      <td><%= link_to t('destroy'), age_group, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
