<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name')%>:</strong>
  <%= @age_group.name %>
</p>
<p>
  <strong><%= t('min_age')%>:</strong>
  <%= @age_group.min_age %>
</p>
<p>
  <strong><%= t('max_age')%>:</strong>
  <%= @age_group.max_age
  %>
</p>

<%= link_to t('edit'), edit_age_group_path(@age_group) %> |
<%= link_to t('back'), age_groups_path %>
