<main class="container">
  <% @courses_list.each do |course| %>
    <article class="cours">
      <div class="student_detail">
        <h2><%= course['name'] %></h2>
        <h3><%= t(get_week_day(course['day_of_week'])) + ' -  ' + course['start_time'].strftime('%H:%M') %>
          - <%= course['end_time'].strftime('%H:%M') %> </h3>
        <h4><%= course['age_group'] %></h4>
        <h5><%= get_places_used(course['id']) %> / <%= course['number_of_students_allowed'] %></h5>
        <p>
        <ul>
          <% get_susbcribed_students_active(course['id']).each do |student| %>
            <li class="student_cours">

              <%= student['name'] %><%= " - (#{student['client_name']})" unless student['name'] == student['client_name'] %>
              - <%= get_latest_belt_color(student['id']) %> (<%= get_months_since_last_graduations(student['id']) %>
              <%= t('Mois') %>)
            </li>
          <% end %>
        </ul>
        </p>
      </div>
    </article>
  <% end %>
</main>