<main>
  <% @courses_list.each do |course| %>
    <article class="cours">
      <h2><%= course['name'] %></h2>
      <h3><%= t(get_week_day(course['day_of_week'])) + ' -  ' + course['start_time'] %>
        - <%= course['start_time'] %> </h3>
      <h4><%= course['age_group'] %></h4>
      <h5><%= get_places_used(course['id']) %> / <%= course['number_of_students_allowed'] %></h5>
      <p>
      <ul>
        <% get_susbcribed_students(course['id']).each do |student| %>
          <li class="student_cours">
            <%= student['name'] %><%= " - (#{student['client_name']})" unless student['name'] == student['client_name'] %>
            - <%= get_latest_belt_color(student['id']) %> (<%= get_months_since_last_graduations(student['id']) %> Mois)
            <% if student['trial_class'] %> - <i class="i_on_trial"></i>
            <% end %>
            <% if student['uniform_promotion'] %> - <i class="i_karate_robe icon"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
      </p>
    </article>
  <% end %>
</main>