<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('course_type') %>:</strong>
  <%= @course['course_type'] %>
</p>
<p>
  <strong><%= t('day_of_week') %>:</strong>
  <%= t(get_week_day(@course['day_of_week'])) %>
</p>
<p>
  <strong><%= t('timeslot') %>:</strong>
  <%= @course['start_time'].strftime('%H:%M') %> - <%= @course['end_time'].strftime('%H:%M') %>
</p>

<p>
  <strong><%= t('age_group') %>:</strong>
  <%= @course['age_group'] %>
</p>

<p>
  <strong><%= t('num_of_students_allowed') %>:</strong>
  <%= @course['number_of_students_allowed'] %>
</p>

<p>
  <strong><%= t('places_left') %>:</strong>
  <%= @places_left %>
</p>

<hr>
<section class="download">
  <label><%= t('Download') %>:
    <%= link_to "CSV", course_path(format: "csv"), class: 'download_link' %>
  </label>
</section>
<p>
  <strong><%= t('subscribed_students') %>:</strong>
<ul>
  <% @susbcribed_students.each do |student| %>
    <% if student.student_active && student.user_active %>
      <li class="course_details">
        <%= "#{student['name']} - (#{student['linked_client']})" %> <%= ' - ' + t('uniform_promotion') if student['uniform_promotion'] %>
        - <%= get_latest_belt_color(student['id']) %> (<%= get_months_since_last_graduations(student['id']) %> Mois)
      </li>
    <% end %>
  <% end %>
</ul>
</p>


<%= link_to t('edit'), edit_course_path(@course) %> |
<%= link_to t('back'), courses_path %>
