<p id="notice"><%= notice %></p>

<h1>Graduations</h1>
<nav class="pagination">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @graduations %>
    </div>
    <%= will_paginate @graduations, :container => false %>
  </div>
</nav>
<table>
  <thead>
    <tr>
      <th><%= t('student').html_safe %></th>
      <th><%= t('belt') %></th>
      <th><%= t('graduation_date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graduations.each do |graduation| %>
      <tr>
        <td><%= graduation['name'] %></td>
        <td><%= graduation['color'] %></td>
        <td><%= graduation['graduation_date'] %></td>
        <td><%= link_to t('show'), graduation_path(graduation['id']) %></td>
        <td><%= link_to t('edit'), edit_graduation_path(graduation['id']) %></td>
        <td><%= link_to t('destroy'), Graduation.find(graduation['id']), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_graduation'), new_graduation_path %>
