<p id="notice"><%= notice %></p>

<h1><%= t('timeslots') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('start_time') %></th>
      <th><%= t('end_time') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td><%= timeslot.start_time.strftime('%H:%M') %></td>
        <td><%= timeslot.end_time.strftime('%H:%M') %></td>
        <td><%= link_to t('show'), timeslot %></td>
        <td><%= link_to t('edit'), edit_timeslot_path(timeslot) %></td>
        <td><%= link_to t('destroy'), timeslot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('new')} #{t('timeslot')}", new_timeslot_path %>
