<p id="notice"><%= notice %></p>

<h1>Belts</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @belts.each do |belt| %>
      <tr>
        <td><%= belt.color %></td>
        <td><%= link_to 'Show', belt %></td>
        <td><%= link_to 'Edit', edit_belt_path(belt) %></td>
        <td><%= link_to 'Destroy', belt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Belt', new_belt_path %>
