<!DOCTYPE html>
<html>
<head>
  <title>InnovationArtsMartiauxReservationsTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<main>
  <nav>
    <ul>
      <% if current_admin %> <!-- Only display link is user is admin -->
        <li><%= link_to t('Admins'), admins_path %></li>
        <li><%= link_to t('Users'), users_path %></li>
      <% end %>
      <li><%= link_to t('student_link'), students_path %></li>
      <li><%= link_to "#{t('reservations')} (#{get_reservations_to_confirm})", reservations_path %></li>
      <% if current_admin %> <!-- Only display link is user is admin -->
        <li><%= link_to t('course_type'), course_types_path %></li>
        <li><%= link_to t('age_groups'), age_groups_path %></li>
        <li><%= link_to t('timeslots'), timeslots_path %></li>
        <li><%= link_to t('courses'), courses_path %></li>
        <li><%= link_to t('courses_list'), courses_list_path %></li>
        <li><%= link_to t('belts'), belts_path %></li>
        <li><%= link_to 'Graduations', graduations_path %></li>
        <li><%= link_to 'Tarifs', tarifs_path %></li>
        <li><%= link_to "#{t('Cash Payments')} (#{get_due_cash_payment})", cash_payments_path %></li>
      <% end %>
    </ul>
    <div>
      <ul class="language_select">
        <% alternate_locales do |l| %>
          <li class="language <%= l %>"><%= link_to(l, locale: l) %></li>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <%= link_to(t('devise.Logout'), destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to(t('devise.Login'), new_user_session_path) %>
          </li>
        <% end %>

        <% if admin_signed_in? && !user_signed_in? %>
          <li>
            <%= link_to(t('devise.Logout'), destroy_admin_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to(t('devise.Login as Admin'), new_admin_session_path) %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div id="notice"><%= notice %></div>
  <div id="alert"><%= alert %></div>
  <%= yield %>
  <footer class="credits">
    credits:
    <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
  </footer>
  <footer class="debug">
    <%=
      debug(params) if Rails.env.development?
    %>
  </footer>
</main>
</body>
</html>
