<!DOCTYPE html>
<html>
<head>
  <title>InnovationArtsMartiauxReservationsTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<main>
  <nav>
    <ul>
      <li><%= link_to 'Clients', clients_path %></li>
      <li><%= link_to t('student_link'), students_path %></li>
      <li><%= link_to t('belts'), belts_path %></li>
      <li><%= link_to 'Graduations', graduations_path %></li>
      <li><%= link_to t('course_type'), course_types_path %></li>
      <li><%= link_to t('age_groups'), age_groups_path %></li>
      <li><%= link_to t('timeslots'), timeslots_path %></li>
      <li><%= link_to t('courses'), courses_path %></li>
      <li><%= link_to t('reservations'), reservations_path %></li>
      <li><%= link_to t('courses_list'), courses_list_path %></li>
    </ul>
    <div>
      <ul class="language_select">
        <% alternate_locales do |l| %>
          <li class="language <%= l %>"><%= link_to(l, locale: l) %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>
  <footer class="credits">
    credits:
    <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
  </footer>
  <footer class="debug">
    <%=
      debug(params) if Rails.env.development?
    %>
  </footer>
</main>
</body>
</html>
