<!DOCTYPE html>
<html>
<head>
  <title>InnovationArtsMartiauxReservationsTracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav>
  <ul>
    <li><%= link_to 'Clients', clients_path %></li>
    <li><%= link_to t('student_link'), students_path %></li>
    <li><%= link_to t('belts'), belts_path %></li>
    <li><%= link_to t('course_type'), course_types_path %></li>
  </ul>
  <div>
    <% alternate_locales do |l| %>
      <li class="language <%= l %>"><%= link_to(l, locale: l) %></li>
    <% end %>
  </div>
</nav>

<%= yield %>
</body>
</html>
