<!DOCTYPE html>
<html>
  <head>
    <title>InnovationArtsMartiauxReservationsTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li><%= link_to 'Clients', clients_path %></li>
    <li><%= link_to 'Students', students_path %></li>
    <li><%= link_to 'Belts', belts_path %></li>
  </ul>
    <%= yield %>
  </body>
</html>
